ul li a{
    font-family: 'Lora', serif;
    font-size: 25px;
    color: #282c34ea;
}
ul li a:hover{
    color: #0c0e11;
}
ul li{
    padding: 20px 0 20px 0;
}
header{
    width: 100%;
    height: 100%;
    background-color: rgb(152, 170, 175);
}
ul {
    display: flex;
    flex-wrap:nowrap;
    text-align: center;
}
li{
    height: 50%;
    width: 80%;
}
a {
    text-decoration: none;
  }
